extends ../_layout

block article
  article
    //- pre=JSON.stringify(current)
    //- pre=JSON.stringify(public.articles)
    //- pre=title

    header
      - var myCurrent = public.articles._data[current.path[1]]
      - var path = '/' + current.path[0] + '/' + current.path[1]
      h1
        a(href=path + ".html", pjax-page) #{myCurrent.title}
      time(pubdate, datetime="#{myCurrent.date}") #{myCurrent.date}

    //- if article has some pages
    if(public.articles[current.path[1]])
      nav
        ul.pagination
          for filename in public.articles[current.path[1]]._contents
            li
              - var url = path + '/' + filename
              - var key = filename.substr(0, filename.lastIndexOf('.'))
              - var title = public.articles[current.path[1]]._data[key].title
              a(href=url, pjax-page)= title

    div.article-content
      if current.path.length > 2
        block page
      else
        != yield

    footer
      p
        small Creative Commons Attribution-ShareAlike License
